PORT=8080
DOMAIN=your-ngrok-or-horku-domain
PERPLEXITY_API_KEY=pplx-

TWILIO_ACCOUNT_SID="yourtwilio-account-sid"
TWILIO_AUTH_TOKEN="ea55925b6a872320fc7519ed7b31ce38"
TWILIO_WEBHOOK_URL=https://arcline.vercel.app/api/twilio/conversation/webhook
TWILIO_PHONE_NUMBER=+18722825463

NEXT_PUBLIC_SUPABASE_ANON_KEY="your-supabase-anon-key"
NEXT_PUBLIC_SUPABASE_URL="https://your-supabase-id.supabase.co"
SUPABASE_ANON_KEY="your-supabase-anon-key"
SUPABASE_JWT_SECRET="your-supabase-jwt-secret"
SUPABASE_SERVICE_ROLE_KEY="your-supabase-device-role-key"
SUPABASE_URL="https://your-supabase-id.supabase.co"